<% @snips.each do |snip| %>
<section class="snip">
	<h2 id="<%= snip.id %>"><%= snip.name %></h2>		
		<h5>code snippets</h5>
		<% snip.snippets.each do |snippet| %>
			<%= snippet.content %>				
		<% end %>
		<% form_for snip do |snipnew| %>
		  <% snipnew.fields_for :snippets do |snippet| %>
		    <%= snippet.label :content %>
		    <%= snippet.text_field :content %>
		  <% end %>
		<% end %>	
</section> 
<% end %>

