<%= form_for @snip do |f| %>
  <p id="snip-name">
		<%= f.label :name, 'Category Name' %>
		<%= f.text_field :name %>
  </p>
	<% f.fields_for :snippets do |builder| %>
    <%= render 'newsnippet', :f => builder %>			
	<% end %>
	<p id="actions">
		<%= f.submit%>
	</p>
<% end %>
