<%= form_for @snip do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
	<p id="snip-name">
		<%= f.label :name, 'Language' %>
		<%= f.select (:name, options_for_select([['HTML','HTML'],['CSS','CSS'],['Javascript','Javascript'],['C#','C#']])) %>
  </p>
	<% f.fields_for :snippets do |builder| %>
    <%= render 'newsnippet', :f => builder %>			
	<% end %>
	<p id="actions">
		<%= f.submit%>
	</p>
<% end %>
