<%= form_for @snip do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
	<p id="snip-name">
		<%= f.label :name, 'Language' %>
		<%= f.select (:name, options_for_select([['HTML','HTML'],['CSS','CSS'],['Javascript','Javascript'],['ASP.NET','ASP.NET'],['C#','C#'],['C++','C++'],['VB Script','VB Script'],['Ruby','Ruby'],['Ruby On Rails','Ruby On Rails'],['PHP','PHP'],['Java','Java'],['JSP','JSP'],['JSTL','JSTL'],['Python','Python'],['Unix Shell','Unix Shell']])) %>
  </p>
	<% f.fields_for :snippets do |builder| %>
    <%= render 'newsnippet', :f => builder %>			
	<% end %>
	<p id="actions">
		<%= f.submit%>
	</p>
<% end %>
