<% if current_user %>
	<% if current_user.snips.any? %>
		<% current_user.snips.each do |snip| %>
		<section class="snip">
	    <%= link_to 'x', snip, :confirm => 'Delete Snip - Are you sure?', :method => :delete, :class => "delete-snip" %>
			<h2 id="<%= snip.id %>"><%= snip.name %></h2>	
	    <% snip.snippets.each do |snippet| %>
	    	<article class="snippet">
	    		<h3><%= snippet.description %></h3>
	    		<p><%= snippet.content %></p>
	    		<a href="snippets/<%= snippet.id %>"><img src="images/icon_view.png"></a>
	    	</article>						
	    <% end %>	
		</section>			
		<% end %>
	<% end %>
<% end %>