<% @snips.each do |snip| %>
<section class="snip">
	<h2 id="<%= snip.id %>"><%= snip.name %></h2>		
		<h5>code snippets</h5>
		<% snip.snippets.each do |snippet| %>
			<%= snippet.content %>				
		<% end %>
		<% form_for snip do |f| %>
		  <% f.fields_for :snippets do |builder| %>
		    <%= builder.text_field :description %>
			<% end %>
			<%= f.submit%>
		<% end %>	
</section> 
<% end %>
