<p id="notice"><%= notice %></p>
<%= @snippet.snip.name%>
<p>
  <b>Description:</b>
  <%= @snippet.description %>
</p>

<p>
  <b>Content:</b>
  <%= @snippet.content %>
</p>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
