<!DOCTYPE html>
<html>
<head>
  <title>snipGeek | Organise yourself bro</title>
	<link href='http://fonts.googleapis.com/css?family=Kreon|Podkova' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>	
  <%= javascript_include_tag "prettify.js" %>
	<%= csrf_meta_tag %>
</head>
<body onload="prettyPrint()">
	<div id="wrapper">
		<section id="sticky-bar">
			<ul>
				<li id="add-snip"><a href="#">+ SNiP</a></li>
				<%= render "snips/newsnip" %>
				<li id="all-snip"><a href="#">#&lt;SNiPS/&gt;</a></li>
			</ul>
		</section>
	</div>
	<section id="snips">
		<%= yield %>					
	</section>
	<section id="overlay">
	</section>
	<section id="overlay-content">
	</section>	
</body>
</html>
